:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}
